@model RafflesChart.ViewModels.SubscriptionViewModel
@{
    ViewBag.Title = "Subscription";
}
@section styles{
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
}
@if (@TempData["Success"] != null && !string.IsNullOrEmpty(TempData["Success"].ToString())) 
{ 
<p class="alert alert-success">@TempData["Success"] </p>
}
@if (@TempData["SetError"] != null && !string.IsNullOrEmpty(TempData["SetError"].ToString()))
{
<p class="alert alert-danger">@TempData["SetError"] </p>
}
<h2>Subscription</h2>

@{
    var months = new List<SelectListItem>()
                    {
                        new SelectListItem(){ Value ="1" , Text="1 Month"},
                        new SelectListItem(){ Value ="2" , Text="2 Month"},
                        new SelectListItem(){ Value ="3" , Text="3 Month"}
                    };

    var entries = from en in Enumerable.Range(1, 10)
                  select new RafflesChart.ViewModels.SubscriptionEntryViewModel()
                  {
                      Name = "Name " + en,
                      Price = en * 100,
                      Detail = "blah blah lbha lbha " + en,
                      Status = "Sale",
                      CreatedDate = DateTime.Now,
                      UpdatedDate = DateTime.Now
                  };                    
}

@foreach (var item in entries)
{
    using (Html.BeginForm("Add", "Subscription"))
    {
        <div>
            <div class="row form-group" >
                <div class="col-xs-offset-2 col-xs-2">
                    <b><u> @item.Name</u></b>
                </div>
                
                <input type="hidden" name="ItemName" value="@item.Name" />
            </div>
            <div class="row form-group">
                <div class="col-xs-2">
                    Detail
                </div>
                <div class="col-xs-2">
                    @Html.Raw(item.Detail)
                </div>
            </div>
            
            <div class="row form-group">
                <div class="col-xs-2">
                    Price
                </div>
                <div class="col-xs-2">
                    @item.Price (SGD per month)
                </div>
               
                <input type="hidden" name="Price" value="@item.Price" />
            </div>
            <div class="row form-group">
                <div class="col-xs-2">
                    Months
                </div>
                <div class="col-xs-2">
                    @Html.DropDownListFor(m => m.SelectedMonth, months, new { @class = "selectpicker" })
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-xs-2">
                    <input type="image" src="~/Content/btn_pponly_142x27.png" />
                </div>
            </div>
          <div class="row">
              <div class="col-xs-4">
                  <hr />
              </div>
          </div>
            
               
        </div>
    }
}

@section scripts{


    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
}