@model RafflesChart.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scanner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scanner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomIndicators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomIndicators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Live)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Live)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScannerAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScannerAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignalAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignalAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrendAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrendAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatternAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatternAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expires)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Confirm Delete", "Delete" ,  new {email = Model.Email})
</p>
