@model RafflesChart.Models.ChartUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Scanner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Scanner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.CustomIndicators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.CustomIndicators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Live)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Live)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.CI_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.CI_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Scanner_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Scanner_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Signal_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Signal_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Trend_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Trend_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Pattern_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Pattern_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChartUserModel.Expires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartUserModel.Expires)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Confirm Delete", "Delete", new { email = Model.ApplicationUserModel.Email })
</p>
<p>
   
    @Html.ActionLink("Back to List", "GetUsers")
</p>
