@model IEnumerable<RafflesChart.Models.UserViewModel>

@{
    ViewBag.Title = "User List";
}

<h2>User List3</h2>
                      <div ng-controller="usercontroller">
                          <a href="#" ng-click="sortusers()">sort by name</a>
                          <div ng-repeat="user in users|orderBy:sortOrder">
                              {{user.Name}}
                          </div>
                      </div>
                      @Html.Partial("_SearchUser",new RafflesChart.Models.SearchUser())
<table class="table" >
    <tr>
        <th>
           <a href="#" ng-model="nameheader">Name</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Scheme)
        </th> 
        @*<th>
            @Html.DisplayNameFor(model => model.Scanner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomIndicators)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Live)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.CiAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScannerAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignalAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrendAdd)
        </th> <th>
    @Html.DisplayNameFor(model => model.PatternAdd)
</th>*@
<th>
    @Html.DisplayNameFor(model => model.Expires)
</th>    
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Scheme)
            </td> 
            @*<td>
                @Html.DisplayFor(modelItem => item.Scanner)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.CustomIndicators)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Live)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.CiAdd)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.ScannerAdd)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.SignalAdd)
            </td>   
            <td>
    @Html.DisplayFor(modelItem => item.TrendAdd)
</td>      
            <td>
                @Html.DisplayFor(modelItem => item.PatternAdd)
            </td>*@  
            <td>
                @Html.DisplayFor(modelItem => item.Expires)
            </td>        
            <td>
                @Html.ActionLink("Edit", "Edit", new { email = item.Email }) |
                @Html.ActionLink("Details", "Details", new { email = item.Email }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { email = item.Email })
            </td>
        </tr>
    }

</table>

                      <script src="~/Scripts/app/user.js"></script>
