@using AuthorizedActionLink.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Raffles Chart</title>
    <script type="text/javascript" src="/Scripts/angular.js"></script>
    <script type="text/javascript" src="/Scripts/angular-route.js"></script>
    <script type="text/javascript" src="/Scripts/app/app.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)

</head>
<body ng-app="main">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Raffles Chart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li>@Html.ActionLink("Events", "Index", "Events")</li>

                    @if (Html.ActionAuthorized("SpecialPage", "Home"))
                    {
                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    }
                    @if (Html.ActionAuthorized("UploadUsers", "Account"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Users <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li>@Html.ActionLink("Upload", "UploadUsers", "Account")</li>
                                <li>@Html.ActionLink("Listing", "GetUsers", "Account")</li>
                                <li>@Html.ActionLink("Manage Special Page", "UploadSpecial", "Account")</li>
                            </ul>

                        </li>
                    }
                    @if (Html.ActionAuthorized("Index", "Schemes"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Scheme <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Listing", "Index", "Schemes")</li>
                                <li>@Html.ActionLink("Activate Scheme", "Activate", "Schemes")</li>
                                <li>@Html.ActionLink("Activate Function", "ActivateFunction", "Schemes")</li>
                                <li>@Html.ActionLink("Uploaded scheme data", "SchemeUserData", "Schemes")</li>
                            </ul>
                        </li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Raffles Chart</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
