@using AuthorizedActionLink.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Raffles Chart</title>
    <script type="text/javascript" src="/Scripts/angular.js"></script>
    <script type="text/javascript" src="/Scripts/angular-route.js"></script>
    <script type="text/javascript" src="/Scripts/app/app.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)
    <style type="text/css">
       
        .navbar-inverse {
            background-color: #f5f5f5 !Important;
            border-bottom-color:#d8d8d8 !important;
        }
        .navbar-nav > li > a {
            color: black !Important;
            font-weight: bold;
            padding-left: 14px !important;
            padding-right: 0px !important;
        }
        .navbar-toggle {
          background-color:gray  !Important;
        }
        .navbar-nav > li > a:hover {
            color: #4183c4 !Important;
        }
        .navbar-header a
        {
            font-weight:bold;
        }
         .navbar-header a:hover {
            color: #4183c4 !Important;
        }
        .navbar-nav > .open > a
        {
            background-color:#e7ecee !important;
        }
        .admin-menu ul {
            list-style: none;
            margin-left: 70%;
        }
        .accountmenu{
            margin-left:10%;
        }
        .admin-menu li {
           
            margin-left: 20px;
        }
        .admin-menu li  a{
            text-decoration:none;
        }
        .admin-menu .open > a
        {
            background-color:white !important;
        }
        @@media screen and (min-width: 0px) and (max-width: 750px) {
            .nav-label {
                display: block;
                float: right;
                padding-right: 80px;
                top: -35px;
                position: relative;
                font-weight: bold;
            }
            /* show it on small screens */
        }

        @@media screen and (min-width: 751px)  {
          .nav-label { display: none; }   /* hide it elsewhere */
}
    </style>
</head>
<body ng-app="main">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Minichart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="nav-label"> Navigation</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("2 Cents Worth", "Latest", "Home")</li>
                    @if (Html.ActionAuthorized("Welcome", "Account"))
                     {
                       <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                               Subscription <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu" role="menu">
                               <li>@Html.ActionLink("Available", "Index", "Subscription")</li>
                               <li>@Html.ActionLink("View Records", "MySubscription", "Subscription")</li>
                           </ul>
                       </li>
                    }
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>

                    @if (Html.ActionAuthorized("SpecialMember", "Home"))
                    {
                        <li>@Html.ActionLink("Members", "SpecialMember", "Home")</li>
                    }
                    @if (Html.ActionAuthorized("SpecialMember", "Home"))
                    {
                        <li>@Html.ActionLink("Blogs", "RecentBlogs", "Home")</li>
                    }

                    @if (Html.ActionAuthorized("Welcome", "Account"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                About Minichart <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Welcome", "Welcome", "Account")</li>
                                <li>@Html.ActionLink("FAQ", "FAQ", "Account")</li>
                                <li>@Html.ActionLink("User Guide", "UserGuide", "Account")</li>
                                <li>@Html.ActionLink("Tutorial", "Tutorial", "Account")</li>
                                <li>@Html.ActionLink("Script Writing", "ScriptWriting", "Account")</li>
                                <li>@Html.ActionLink("Page1", "Page1", "Home")</li>
                            </ul>
                        </li>
                    }

                    @if (Html.ActionAuthorized("Offer", "Home"))
                    {
                        <li>
                            @Html.ActionLink("update1", "Offer", "Home")
                        </li>
                    }




                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
  
        <div class="container admin-menu" >

             <ul class="nav navbar-nav">


        @if (Html.ActionAuthorized("UploadUsers", "Account"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Manage Users", "GetUsers", "Account")</li>
                    <li>@Html.ActionLink("Upload Users", "UploadUsers", "Account")</li>

                    <li>@Html.ActionLink("Manage Special Page", "UploadSpecial", "Account")</li>
                    <li>@Html.ActionLink("Manage Blog", "Index", "Blogs")</li>
                    <li>@Html.ActionLink("Manage Subscription", "Add", "ManageSubscription")</li>
                    <li>@Html.ActionLink("View User Paymens", "Payment", "ManageSubscription")</li>
                    <li>@Html.ActionLink("Site Visits", "ViewHit", "Home")</li>
                </ul>

            </li>
        }
        @if (Html.ActionAuthorized("Index", "Schemes"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Scheme <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Listing", "Index", "Schemes")</li>
                    <li>@Html.ActionLink("Activate Scheme", "Activate", "Schemes")</li>
                    <li>@Html.ActionLink("Activate Function", "ActivateFunction", "Schemes")</li>
                    <li>@Html.ActionLink("Uploaded scheme data", "SchemeUserData", "Schemes")</li>
                </ul>
            </li>
        }
    </ul>
        </div>


   
  
     <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Raffles Chart</p>

            @Html.ActionLink("Disclaimer", "Disclaimer", "Home")
            &nbsp; |
            @Html.ActionLink("Privacy", "Privacy", "Home")
            &nbsp; |
            @Html.ActionLink("Contact Us", "Contact", "Home")
            &nbsp;

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
