@using AuthorizedActionLink.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Raffles Chart</title>
    <script type="text/javascript" src="/Scripts/angular.js"></script>
    <script type="text/javascript" src="/Scripts/angular-route.js"></script>
    <script type="text/javascript" src="/Scripts/app/app.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)
    <style>
        /*
        .navbar-inverse {
            background-color: white !Important;
            border-bottom-color:white;
        }
        .navbar-nav > li > a {
            color: grey !Important;
        }
        .navbar-nav > li > a:hover {
            color: green !Important;
        }*/
    </style>
</head>
<body ng-app="main">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Raffles Chart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Latest News", "Latest", "Home")</li>

                    <li>@Html.ActionLink("Events", "Index", "Events")</li>

                    @if (Html.ActionAuthorized("SpecialMember", "Home"))
                    {
                        <li>@Html.ActionLink("Special Member", "SpecialMember", "Home")</li>
                    }
                    @if (Html.ActionAuthorized("SpecialMember", "Home"))
                    {
                        <li>@Html.ActionLink("Blogs", "RecentBlogs", "Home")</li>
                    }

                    @if (Html.ActionAuthorized("Welcome", "Account"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Instructions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Welcome", "Welcome", "Account")</li>
                                <li>@Html.ActionLink("FAQ", "FAQ", "Account")</li>
                                <li>@Html.ActionLink("User Guide", "UserGuide", "Account")</li>
                                <li>@Html.ActionLink("Tutorial", "Tutorial", "Account")</li>
                                <li>@Html.ActionLink("Script Writing", "ScriptWriting", "Account")</li>
                            </ul>
                        </li>
                    }

                    @if (Html.ActionAuthorized("Offer", "Home"))
                    {
                        <li>
                            @Html.ActionLink("Offer", "Offer", "Home")
                        </li>
                    }



                    @if (Html.ActionAuthorized("UploadUsers", "Account"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Manage <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Manage Users", "GetUsers", "Account")</li>
                                <li>@Html.ActionLink("Upload Users", "UploadUsers", "Account")</li>

                                <li>@Html.ActionLink("Manage Special Page", "UploadSpecial", "Account")</li>
                                <li>@Html.ActionLink("Manage Blog", "Index", "Blogs")</li>
                                <li>@Html.ActionLink("Site Visits", "ViewHit", "Home")</li>
                            </ul>

                        </li>
                    }
                    @if (Html.ActionAuthorized("Index", "Schemes"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Scheme <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Listing", "Index", "Schemes")</li>
                                <li>@Html.ActionLink("Activate Scheme", "Activate", "Schemes")</li>
                                <li>@Html.ActionLink("Activate Function", "ActivateFunction", "Schemes")</li>
                                <li>@Html.ActionLink("Uploaded scheme data", "SchemeUserData", "Schemes")</li>
                            </ul>
                        </li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Raffles Chart</p>

            @Html.ActionLink("Disclaimer", "Disclaimer", "Home")
            &nbsp; |
            @Html.ActionLink("Privacy", "Privacy", "Home")
            &nbsp; |
            @Html.ActionLink("Contact Us", "Contact", "Home")
            &nbsp;

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
