@model RafflesChart.Models.SchemeViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Markets, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Markets, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Markets, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Indicators, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Indicators, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Indicators, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BullBearTests, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BullBearTests, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BullBearTests, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BackTests, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BackTests, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BackTests, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PatternScanners, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PatternScanners, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PatternScanners, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Scanners, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Scanners, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Scanners, "", new { @class = "text-danger" })
    </div>
</div>




<div class="form-group">
    @Html.LabelFor(model => model.ScannerFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ScannerFlag, new { htmlAttributes = new { @class = "form-control" } })
       
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CustomIndicatorsFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CustomIndicatorsFlag, new { htmlAttributes = new { @class = "form-control" } })
       
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.LiveFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.LiveFlag, new { htmlAttributes = new { @class = "form-control" } })
       
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.CIAddFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CIAddFlag, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ScannerAddFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ScannerAddFlag, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SignalAddFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SignalAddFlag, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.TrendAddFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TrendAddFlag, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PatternAddFlag, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PatternAddFlag, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>



