
@{
    ViewBag.Title = "Add";
}
@section Styles{
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/summernote.css" rel="stylesheet" />
    <style>
        .pageselect {
            height: 40px;
        }
    </style>
}
    <h2 style="text-align:left">Add</h2>

@using( Html.BeginForm("Add","ManageSubscription"))
{

<div class="control-group">
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Name
            </label>
        </div>
        <div class="col-xs-4">
            <input type="text" name="Name" value="" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Total Amount
            </label>
        </div>
        <div class="col-xs-4">
            <input type="text" name="Price" value="" id="Price" class="form-control" />
            @Html.ValidationMessage("Price")
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Description
            </label>
        </div>
        <div class="col-xs-4">
            <input type="text" name="Description" id="Description" value="" class="form-control" />
            @Html.ValidationMessage("Description")
        </div>
    </div>
   
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Details
            </label>
        </div>
        <div class="col-xs-4">
            
            <textarea class="input-block-level" id="summernote" name="Detail" rows="18"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Status
            </label>
        </div>
        <div class="col-xs-4">
            @{
    var statuspick = new List<SelectListItem>(){
                    new SelectListItem(){Text="Sale",Value="Sale"},
                    new SelectListItem(){Text="NotForSale",Value="NotForSale"}
                };
            }
            @Html.DropDownList("Status",statuspick, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-4">
            <input type="submit" class="btn btn-primary" value="Add" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2">
           @Html.ActionLink("View List" , "List")
        </div>
        </div>
 </div>  
}

@section Scripts{

    <script src="~/Scripts/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({ height: "500px" });
          
        });
        var postForm = function () {
            var content = $('textarea[name="Detail"]').html($('#summernote').code());
        }
    </script>
}
