@model RafflesChart.Models.Subscription
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using( Html.BeginForm("Edit","ManageSubscription"))
{

<div class="control-group">
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Name
                @Html.HiddenFor(m=> m.Id)
            </label>
        </div>
        <div class="col-xs-4">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new { @class = "form-control" }})
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Price
            </label>
        </div>
        <div class="col-xs-4">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Details
            </label>
        </div>
        <div class="col-xs-4">
            <textarea type="text" name="Detail" rows="8" class="form-control">@Model.Detail</textarea>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Status
            </label>
        </div>
        <div class="col-xs-4">
            @{
                    var statuspick = new List<SelectListItem>(){
                    new SelectListItem(){Text="Sale",Value="Sale"},
                    new SelectListItem(){Text="NotForSale",Value="NotForSale"}
                };
            }
            @Html.DropDownListFor(model => model.Status, statuspick, new {@class="form-control" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Created
            </label>
        </div>
        <div class="col-xs-4">
            @Model.CreatedDate
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-2">
            <label>
                Updated
            </label>
        </div>
        <div class="col-xs-4">
            @Model.UpdatedDate
        </div>
    </div>
     
   
    <div class="row form-group">
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-4">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>

</div>
}