@model IEnumerable<RafflesChart.Models.Subscription>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table">
    <thead>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Detail
        </th>
        <th>
            Status
        </th>
        <th>
            Created Date
        </th>
        <th>
            Updated Date
        </th>
    </thead>
   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Detail
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.CreatedDate
            </td>
            <td>
                @item.UpdatedDate
            </td>
            <td>
                @Html.ActionLink("edit", "Edit",  new { @Id = item.Id})
            </td>
        </tr>
    }

</table>