@using AuthorizedActionLink.Extensions;
@model IEnumerable<RafflesChart.Models.EventViewModel>

@{
    ViewBag.Title = "Event";
    var reg = Html.ActionAuthorized("Edit", "Events");
    var ep = TempData["EmailedPassword"] as string;
    var gr = TempData["GuestSuccess"] as string;
}
<script type="text/javascript" src="~/Scripts/app/event.js"></script>
<h2>Index</h2>
@if (!string.IsNullOrEmpty(ep))
{
    <p class="label label-info">@TempData["EmailedPassword"] </p>
}

@if (!string.IsNullOrEmpty(gr))
{
    <p class="label label-info">@TempData["GuestSuccess"] </p>
}
<p>
    @if (Html.ActionAuthorized("Create", "Events"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<div ng-controller="EventController">
    @foreach (var item in Model)
    {


        <div>

            <label class="control-label">  @item.AvailableEventName </label>          

        </div>
        <div>
            <p>@item.AvailableEventDescription</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-time"></span> From: <label class="control-label">  @item.AvailableEventDate </label> To: <label class="control-label"> @item.AvailableEventEndDate </label>
            
           
           
        </div>
        <div>
            <span class="glyphicon glyphicon-tree-conifer"></span>  @item.AvailableEventLocation 
           
        </div>
        

        if (!Html.ActionAuthorized("Create", "Events"))
        {
            if (!reg)
            {
                <div>
                    <a class="guestRegister" data-eventid="@item.AvailableEventId" href="/Events/GuestRegister?eventId=@item.AvailableEventId">
                        <button class="input-sm" value="REGISTER FOR EVENT">
                            <img style="cursor:pointer" src="~/Content/task_16x16.png" title="Click to register" />
                            REGISTER FOR EVENT

                        </button>
                    </a>
                </div>
                if (item.GuestSignUp != null)
                {
                    @Html.Partial("_GuestRegister",item.GuestSignUp)
                }

            }
            else
            {
                <div>
                    @if (!item.Registered)
                    {
                        <button ng-click="addDbEventUser(@item.AvailableEventId)" class="input-sm" value="REGISTER FOR EVENT">
                            <img style="cursor:pointer" src="~/Content/person_checked_16x16.png" title="Click to Register" />
                            REGISTER FOR EVENT
                        </button>
                    }
                                        else
                    {
                        <button ng-click="addDbEventUser(@item.AvailableEventId)" class="input-sm" value="REGISTER FOR EVENT">
                            <img style="cursor:pointer" src="~/Content/close_16x16.png" title="Click to Register" />
                            UN-REGISTER FOR EVENT
                        </button>
                    }
                </div>
            }

        }
        if (Html.ActionAuthorized("Create", "Events"))
        {
            <div>
                @Html.Partial("_Registrant", item.Users)
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.AvailableEventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AvailableEventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AvailableEventId })
            </div>
        }

    }

</div>

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script>
    $(function () {
        $('.guestRegisterrr').click(function () {
            var evt = $(this).attr("data-eventid");
            console.log(evt);
            $.ajax({
                url: "/Events/GuestRegister",
                data: { eventId: evt },
                success: function (data) {
                    $('#' + evt + 'partialGuest').html(data);
                }
            });
        });
    });

</script>

