@using AuthorizedActionLink.Extensions;
@model IEnumerable<RafflesChart.Models.EventViewModel>

    @{
        ViewBag.Title = "Index";
    }
    <script type="text/javascript" src="~/Scripts/app/event.js"></script>
    <h2>Index</h2>

    <p>
        @if (Html.ActionAuthorized("Create", "Events"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
    <div ng-controller="EventController">
        @foreach (var item in Model)
        {

           
            <div>

                <label class="control-label">  Event Name: </label>
                @Html.DisplayFor(modelItem => item.AvailableEventName)

            </div>
            <div>
                    <label class="control-label"> Event Date: </label>
                    @Html.DisplayFor(modelItem => item.AvailableEventDate)
                </div>
                <div>
                    <label class="control-label">  Location: </label>
                    @Html.DisplayFor(modelItem => item.AvailableEventLocation)
                </div>
                <div>
                    <label class="control-label">  Detail: </label>
                    @Html.DisplayFor(modelItem => item.AvailableEventDescription)
                </div>
				
			if (!Html.ActionAuthorized("Create", "Events"))
            {
                <div>
                    @if (!item.Registered)
                    {
						<label>Register Now </label>
                        <img ng-click="addDbEventUser(@item.AvailableEventId)" style="cursor:pointer" src="~/Content/person_checked_16x16.png" title="Click to Register" />
                    }
                    else
                    {
						<label>Un-Register </label>
                        <img ng-click="addDbEventUser(@item.AvailableEventId)" style="cursor:pointer" src="~/Content/close_16x16.png" title="Click to Register" />
                    }
                </div>
            }
            if (Html.ActionAuthorized("Create", "Events"))
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AvailableEventId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AvailableEventId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AvailableEventId })
                </div>
            }
			
			
            <hr />
        }

    </div>


