@using AuthorizedActionLink.Extensions;
@model IEnumerable<RafflesChart.Models.Event>

@{
    ViewBag.Title = "Index";
}
                      <script type="text/javascript" src="~/Scripts/app/scheme.js"></script>
<h2>Index</h2>

<p>
    @if (Html.ActionAuthorized("Create", "Events"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
                      <div ng-controller="EventConroller">
                          @foreach (var item in Model)
                          {
                              if (!Html.ActionAuthorized("Create", "Events"))
                              {
                                  <div>

                                      <img ng-click="addDbEventUser(@item.Id)" style="cursor:pointer" src="~/Content/person_checked_16x16.png" title="Click to Register" />

                                  </div>
                              }
                              <div>

                                  <label class="control-label">  @Html.DisplayNameFor(model => model.Name): </label>
                                  @Html.DisplayFor(modelItem => item.Name)

                              </div>
                              <div>
                                  <label class="control-label">  @Html.DisplayNameFor(model => model.Date): </label>
                                  @Html.DisplayFor(modelItem => item.Date)
                              </div>
                              <div>
                                  <label class="control-label">  @Html.DisplayNameFor(model => model.Location): </label>
                                  @Html.DisplayFor(modelItem => item.Location)
                              </div>
                              <div>
                                  <label class="control-label">  @Html.DisplayNameFor(model => model.Description): </label>
                                  @Html.DisplayFor(modelItem => item.Description)
                              </div>
                              if (Html.ActionAuthorized("Create", "Events"))
                              {
                                  <div>
                                      @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                      @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                      @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                  </div>
                              }
                              <hr />
                          }

                      </div>


