@model RafflesChart.Models.BlogViewModel

@{
    ViewBag.Title = "Blog";
}

@section Styles{
    @Styles.Render("~/Content/css")

    <style>
        .postdate {
            color: grey;
            margin-top: -8px;
            margin-bottom: 20px;
            font-size: .8 em;
        }

        .editdate {
            margin-left:150px
        }
    </style>
}

<h2><b>@Model.Title</b></h2>
<div class="postdate">
    <span>Posted @Model.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</span>
    <span class="editdate">Last Edited @Model.UpdatedDate.ToString("dd MMM yyyy hh:mm tt")</span>
</div>
<div>@Html.Raw(Model.Content)</div>

<br />
<div>
    <a href="/Home/RecentBlogs">Back to list</a>
</div>